@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@font-face{
  font-family:'EntypoSocialRegular';
  src:url("../font/entypo-social.eot");
  src:url("../font/entypo-social.eot?#iefix") format("embedded-opentype"),
      url("../font/entypo-social.woff") format("woff"),
      url("../font/entypo-social.ttf") format("truetype"),
      url("../font/entypo-social.svg#EntypoRegular") format("svg");font-weight:normal;
  font-style:normal
}

.entypo-social{
  font-family:'EntypoSocialRegular';
  font-size: 4em;
  font-weight:normal;
  line-height:0
}
i.entypo,
i.entypo-social{
  min-width:0.625em;
  height:inherit;
  font-style:normal;
  display:inline-block;
  position:static;
  text-align:center;
  vertical-align:middle
}
.entypo.tag:before{
  content:'\E70C'
}
.entypo-social.twitter:before{
  content:'\F309'
}

body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 20px;
  color: $copy-color;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  font-weight: 300;
}