@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

//@font-face{
//  font-family:'EntypoSocialRegular';
//  src:url("../font/entypo-social.eot");
//  src:url("../font/entypo-social.eot?#iefix") format("embedded-opentype"),
//      url("../font/entypo-social.woff") format("woff"),
//      url("../font/entypo-social.ttf") format("truetype"),
//      url("../font/entypo-social.svg#EntypoRegular") format("svg");font-weight:normal;
//  font-style:normal
//}
//
//.entypo-social{
//  font-family:'EntypoSocialRegular';
//  font-size: 4em;
//  font-weight:normal;
//  line-height:0
//}
//i.entypo,
//i.entypo-social{
//  min-width:0.625em;
//  height:inherit;
//  font-style:normal;
//  display:inline-block;
//  position:static;
//  text-align:center;
//  vertical-align:middle
//}
//.entypo.tag:before{
//  content:'\E70C'
//}
//.entypo-social.twitter:before{
//  content:'\F309'
//}

body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  color: $sfh-black;
  font-weight: 400;
}

p {
  font-size: em(18);
}

h1, h2, h3, h4, h5, h6 {
  color: $sfh-black;
  font-weight: 300;
}

h3 {
  font-size: em(30);

  @include media($desktop) {
    font-size: em(27);
  }
}

.dark,
.dark h1, .dark h2, .dark h3 {
  color: $sfh-white;
}

a, a:visited {
  color: $sfh-red;
  text-decoration: none;
}

header h1  {
  color: $sfh-white;
  font-weight: 700;
  font-size: em(36);
  margin: 0;
  position: relative;
  bottom: -12px;

  @include media($tablet) {
    font-size: em(50);
    letter-spacing: em(1);
    bottom: -16px;
  }

  @include media($desktop) {
    font-size: em(80);
    letter-spacing: em(1);
    bottom: -24px;
  }
}

#tagline h2 {
  font-weight: 300;
  font-size: em(30);
  margin: 20px 0;
  letter-spacing: em(1);

  @include media($tablet) {
    font-size: em(45);
    margin: 25px 0;
  }

  @include media($desktop) {
    font-size: em(60);
    margin: 30px 0;
  }
}

.basic h2 {
  font-weight: 800;
  font-size: em(36);
  margin: 60px 0 20px 0;
}

p.small {
  margin: 0;
  padding: 0;
  font-size: em(12);
}

#aboutme p {
  font-weight: 300;
}

#callouts a {
  margin: 0 auto;
  padding: 0 6px;
  width: 100%;
}

.blocks,
.breadth .block {
  text-align: left;
}

.breadth .block h3 {
  text-align: center;
}

#icon h2 {
  font-size: em(60);
  margin: 0;
}

#icon p {
  font-size: em(20);
  margin: 10px 0 0 0;

  @include media($tablet) {
    font-size: em(30);
  }
}

#aboutme .breadth p {
  text-align: left;
  margin: 1em;
}

#price-header,
#price-header h3 {
  color: $sfh-black;
  margin: 20px 0;
  text-align: center;
}

.button,
a.button {
  color: $sfh-black;
  font-size: em(30);
}

.minor_button .button,
.minor_button a.button {
  font-size: em(16);
}

.button:hover,
a.button:hover {
  background: $sfh-black;
  color: $sfh-white;
}

.inside-price .button:hover {
  background: $sfh-white;
  color: $sfh-black;
}