@import "bourbon";
@import "neat";

@import "variables";
@import "inc/typography";

body {
  background: $sfh-white;
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}

hr {
  border: 0;
  border-bottom: 1px solid $sfh-black;
}

.dark {
  background: $sfh-black;
}

.breadth,
.dual {
  @include outer-container;
  max-width: 960px;
}

.breadth nav,
.breadth article {
  @include span-columns(12);
  padding: 0;
  text-align: center;
}

.breadth #biglogo {
  @include span-columns(12);

  @include media($tablet) {
    width: 60%;
    margin: 0;
  }
}

.breadth #callouts {
  @include span-columns(12);

  @include media($tablet) {
    width: 40%;
  }
}



.breadth article p {
  text-align: center;
  padding: 0 10px;
}

.dual article {
  @include span-columns(6);
}

#icon article {
  padding: 50px 0;
}

#icon img {
  height: auto;
  max-width: 350px;
}

#content p {
  //@include pad();
}

.grp {
  @include row();
  @include pad();
}

.breadth .block {
  //@include pad();
  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }
}

#aboutme img {
  float: left;
  margin: 30px;
}

#aboutme p {
  padding-left: 150px;
}

.book {
  background: $sfh-orange;
}

.bookplus {
  background: $sfh-red;
}

.bookwhite {
  background: #eeeeef;
}

.button {
  border-radius: 3px;
  display: block;
  width: 70%;
  margin: 30px auto 10px auto;
  padding: 14px 0;

  @include media($tablet) {
    margin: 20px auto 35px auto;
  }
}

.button.submit {
  font-weight: 300;
  width: 190px;
  border: 0;
  cursor: pointer;
}

.inside-price {
  @include media($tablet) {
    display:none;
  }
}

#price-header {
  @include span-columns(12);

  header {
    padding: 1px 0;
    margin-bottom: 20px;
  }

  @include media($tablet) {
    header {
      width: 33%;
      float: left;
      padding: 0;
      margin-bottom: 0;
    }
  }

  @include media($desktop) {
    header {
      margin: 0;
    }

    header.left {
      margin-left: 0;
    }

    header.right {
      margin-right: 0;
    }
  }
}

#price {
  display: none;

  @include media($tablet) {
    display: block;

    article {
      float: left;
      width: 33%;
      margin: 0;
    }
  }

  @include media($desktop) {
    article {
      width: 33%;
      margin: 0;
    }

    article.left {
      margin-left: 0;
    }

    article.right {
      margin-right: 0;
    }
  }
}

form {
  margin: 20px 0;
}

form ul,
form ol,{
  margin: 0;
  padding: 0;
  list-style: none;
}

input.txt {
  border: 1px solid $sfh-black;
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 0 20px 0;
  height: 60px;
  line-height: 60px;
  width: 70%;
  font-size: 1.6em;
  color: $sfh-black;
  outline: none;
}
