@import "bourbon";
@import "neat";

@import "variables";
@import "inc/typography";

body {
  background: $sfh-white;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid $sfh-black;
}

.dark {
  background: $sfh-black;
}

.breadth,
.dual {
  @include outer-container;
  max-width: 960px;
}

.breadth nav,
.breadth article {
  @include span-columns(12);
  padding: 0;
  text-align: center;
}

.breadth #biglogo {
  @include span-columns(12);

  @include media($tablet) {
    width: 60%;
    margin: 0;
  }
}

.breadth #callouts {
  @include span-columns(12);

  @include media($tablet) {
    width: 40%;
  }
}



.breadth article p {
  text-align: center;
  padding: 0 10px;
}

.dual article {
  @include span-columns(6);
}

#icon article {
  padding: 50px 0;
}

#icon img {
  height: auto;
  max-width: 350px;
}

#content p {
  //@include pad();
}

.grp {
  @include row();
  @include pad();
}

.breadth .block {
  //@include pad();
  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }
}

#aboutme img {
  float: left;
  margin: 30px;
}

#aboutme p {
  padding-left: 150px;
}

.book {
  background: $sfh-orange;
}

.bookplus {
  background: $sfh-red;
}

.bookwhite {
  background: #eeeeef;
}

.gumroad-product-embed.button {
  background: $sfh-green;
}

#callouts .bookplus.button {
  background: $sfh-green;
}

.button {
  border-radius: 3px;
  display: block;
  width: 70%;
  margin: 30px auto 10px auto;
  padding: 14px 0;

  @include media($tablet) {
    margin: 20px auto 35px auto;
  }
}

.button.submit {
  font-weight: 300;
  width: 190px;
  border: 0;
  cursor: pointer;
}

.inside-price {
  @include media($tablet) {
    display:none;
  }
}

#price-header {
  @include span-columns(12);

  header {
    padding: 1px 0;
    margin-bottom: 20px;
  }

  @include media($tablet) {
    header {
      width: 33%;
      float: left;
      padding: 0;
      margin-bottom: 0;
    }
  }

  @include media($desktop) {
    header {
      margin: 0;
    }

    header.left {
      margin-left: 0;
    }

    header.right {
      margin-right: 0;
    }
  }
}

#price {
  display: none;

  @include media($tablet) {
    display: block;

    article {
      float: left;
      width: 33%;
      margin: 0;
    }
  }

  @include media($desktop) {
    article {
      width: 33%;
      margin: 0;
    }

    article.left {
      margin-left: 0;
    }

    article.right {
      margin-right: 0;
    }
  }
}

form {
  margin: 20px 0;
}

form ul,
form ol,{
  margin: 0;
  padding: 0;
  list-style: none;
}

input.txt {
  border: 1px solid $sfh-black;
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 0 20px 0;
  height: 60px;
  line-height: 60px;
  width: 70%;
  font-size: 1.6em;
  color: $sfh-black;
  outline: none;
}

.sm_divider {
  @include outer-container;

  div {
    @include span-columns(12);
    height: 40px;
    background: $sfh-white;
  }
}

.ck_form {
  background: #fff url('https://app.convertkit.com/assets/embed_divider_dotted.gif') repeat-y center top;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.5em;
  overflow: hidden;
  color: #181818;
  font-size: 16px;
  border-top: solid 20px #5bd3ad;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  clear: both;
  margin: 20px 0px;
}

.ck_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#ck_subscribe_form {
  clear: both;
}

/* Element Queries — uses JS */

.ck_form_content, .ck_form_fields {
  width: 50%;
  float: left;
  padding: 5%;
}

.ck_form.ck_horizontal {
}

.ck_form_content {
  border-bottom: none;
}

.ck_form.ck_vertical {
  background: #fff;
}

.ck_vertical .ck_form_content, .ck_vertical .ck_form_fields {
  padding: 10%;
  width: 100%;
  float: none;
}

.ck_vertical .ck_form_content {
  border-bottom: 1px dotted #aaa;
}

/* Trigger the vertical layout with media queries as well */

@media all and (max-width: 499px) {

  .ck_form {
    background: #fff;
  }

  .ck_form_content, .ck_form_fields {
    padding: 10%;
    width: 100%;
    float: none;
  }

  .ck_form_content {
    border-bottom: 1px dotted #aaa;
  }

}

/* Content */

.ck_form_content h3 {
  margin: 0px 0px 15px;
  font-size: 24px;
  padding: 0px;
}


.ck_form_content p {
  font-size: 14px;
}

.ck_image {
  float: left;
  margin-right: 12px;
  margin-top: 12px;
}

/* Form fields */

.ck_errorArea {
  display: none; /* temporary */
}

#ck_success_msg {
  padding: 10px 10px 0px;
  border: solid 1px #ddd;
  background: #eee;
}

.ck_label {
  font-size: 14px;
  font-weight: bold;
}

.ck_form input[type="text"], .ck_form input[type="email"] {
  font-size: 14px;
  padding: 10px 8px;
  width: 100%;
  border: 1px solid #d6d6d6; /* stroke */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* border radius */
  background-color: #f8f7f7; /* layer fill content */
  margin-bottom: 5px;
  height: auto;
}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.ck_checkbox {
  padding: 10px 0px 10px 20px;
  display: block;
  clear: both;
}

.ck_checkbox input.optIn {
  margin-left: -20px;
  margin-top: 0;
}
.ck_form .ck_opt_in_prompt {
  margin-left: 4px;
}
.ck_form .ck_opt_in_prompt p {
  display: inline;
}

.ck_form .ck_subscribe_button {
  width: 100%;
  color: #373e42;
  margin: 10px 0px 0px;
  padding:  10px 0px;
  font-size: 18px;
  background: #5bd3ad;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* border radius */
  cursor: pointer;
  border: none;
  text-shadow: none;
}


.ck_form .ck_guarantee {
  color: #626262;
  font-size: 12px;
  text-align: center;
  padding: 5px 0px;
  display: block;
}